body{
    margin: 0;
    font-family: Arial;
    background-color: #b7c8e6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: white;
    padding: 20px;
    text-align: center;
}

h2{
    font-size: 50px;
}

button{
    padding: 10px 15px;
    border: none;
    background-color: #4a90e2;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}